<ul>
    <li>ROOT
        <ul>
            <li><a href="~/Home/Index">Home Index</a></li>
            <li><a href="~/Home/Index?theme=Theme01">Home Index Theme01</a></li>
            <li><a href="~/Home/Index?theme=Theme02">Home Index Theme02</a></li>
            <li><a href="~/Home/NotExit">Home NotExit</a></li>
        </ul>
    </li>
    <li>AREA
        <ul>
            <li><a href="~/Admin/Home/Index">Admin Home Index</a></li>
            <li><a href="~/Admin/Home/Index?theme=Theme01">Admin Home Index Theme01</a></li>
            <li><a href="~/Admin/Home/Index?theme=Theme02">Admin Home Index Theme02</a></li>
            <li><a href="~/Admin/Home/NotExit">Admin Home NotExit</a></li>
        </ul>
    </li>
</ul>