<div class="container">
    <a class="logo" href="javascript:void(0)">
        <img src="~/Content/images/109x39.png" style="height: 35px; width: 100px;" alt="Logo">
    </a>
    <div class="topbar">
        <ul class="loginbar pull-right">
            <li class="hoverSelector">
                <i class="fa fa-globe"></i>
                <a>Languages</a>
                <ul class="languages hoverSelectorBlock">
                    <li class="active">
                        <a href="#">English <i class="fa fa-check"></i></a>
                    </li>
                    <li><a href="#">中文</a></li>
                </ul>
            </li>
            <li class="topbar-devider"></li>
            <li><a href="javascript:void(0)">Help</a></li>
            <li class="topbar-devider"></li>
            <li><a href="javascript:void(0)">Login</a></li>
        </ul>
    </div>
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="fa fa-bars"></span>
    </button>
</div>