@using Nb.Common.Themes
@functions
{
    public static string GetCurrentTheme()
    {
        var themeManager = ThemeManager.Resolve();
        var themeName = themeManager.GetTheme();
        return themeName;
    }
}

@helper ShowCurrentTheme()
{
    var themeName = GetCurrentTheme();
    <p>Current Theme: @themeName</p>
}

@helper ShowCurrentPath()
{
    <p>@VirtualPath</p>
}